/* Write your CSS code here */
.blog-item {
  width: 100%;
  border-bottom: 1px solid #9aa5b1;
  list-style-type: none;
}
.details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  color: #12022f;
}
.date {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #616e7c;
  line-height: 25px;
}
.description {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #616e7c;
  line-height: 25px;
}
